@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
*{
	margin:0;
	padding:0;
	font-family: arial;
	font: arial;
	text-align:justify;
	text-decoration:none;


}

body {
	background: url("https://i.pinimg.com/550x/a8/f2/15/a8f2156f06185f02291c35eb9ddbbb95.jpg");
	

}

header {
	background: hsl(199, 70%, 69%);
	width: 100%;
	max-width: 10000px;
	margin: px auto;
	position: sticky;
	top: 0;
}

.main, footer{
	width: 90%;
	max-width: 10000px;
	margin: 19px auto;

}

header nav {
	background: rgb(5, 5, 5);
	overflow: hidden;

}

header nav ul{
	list-style-type: none;
	background-color:red;


}
header nav ul li {
	float: right;

}

header nav ul li a {
	padding: 11px 22px;
	display: block;
	color: rgb(233, 210, 247);
	text-decoration:none; 
}

header nav ul li a:hover {
	background: #75ACEC;
}

.main .articles {
	width: 68.5%;
	margin-right: 1.5%; 
	float:left;

}

.main .articles article {
	padding: 22px;
	background: rgb(233, 210, 247);
	margin-bottom: 20px;
	
}

aside{
	width:24%;
	background: rgb(233, 210, 247);
	float:right;
	padding:20px;
	box-sizing:border-box; 
	line-height:30px;
	position: sticky;
	top: 220;
	left: 911px;
	position: fixed;
	z-index: -1;
}


footer {
	background: rgb();
	color: rgb(17, 17, 17);
	clear:both;
	padding:0px 0px; 
	text-align:center;
	padding: 11px 22px;
	display: block;
	text-decoration:none; 
}


 h1 {
	font-size: 130%;
	font-style: italic;	
}

.tilprin{
	font-size: 4rem;
	text-align: center;
	text-shadow: 2px 2px 10px #f31313;
	font-size:49px;
    font-family: cursive;
	flex: 5;
    text-transform: uppercase;
  padding-top: 22px;
}
li a:hover{
transition:4s;
font-size:23px;

}
.img{

text-align:center;
margin: 0 auto;

}

/*formulario*/
.contact_form{	
	width: 460px; 
  height: auto;
  margin: 80px auto;
	border-radius: 10px;  
	padding-top: 30px;
	padding-bottom: 20px;  
  background-color: #d2e0fc; 
  padding-left: 30px; 
}


input{
	background-color: #fbfbfb; 
	width: 408px; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #ab4493; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
	width: 405px; 
	height: 150px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #ab4493; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
	float: center; 	
}


button{
	height: 45px; 
	padding-left: 5px;
	padding-right: 5px; 	
	margin-bottom: 20px; 
	margin-top: 10px; 	
	text-transform: uppercase;
	background-color: #ab4493; 
	border-color: #ab4493; 
	border-style: solid; 
	border-radius: 10px;	
	width: 420px;   
  cursor: pointer;

}


button p{
	color: #fff; 
}


span{
	color: #ab4493; 
}


.aviso{
	font-size: 13px;  
	color: #0e0e0e;  
}


.h1formulario{
	font-size: 39px;  
	text-align: letf; 
	padding-bottom: 20px; 
	color: #ab4493;
}


h3{
	font-size: 16px; 
	padding-bottom: 30px;
	color: #0e0e0e;   
}


p{
	font-size: 14px; 
	color: #0e0e0e; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
	outline:0;
	border: 1px solid #97d848;
}


.formulario textarea:focus{
	outline:0;
	border: 1px solid #97d848;
}
